.c_img1{position:relative;}
.c_words1{position:absolute;top:90px;height:90px;line-height:10px;}
.c_img{position:relative;margin-left:20px}
.c_words{position:absolute;top:90px;height:90px;line-height:10px;}
